#GetInTouch{

    height: 700px;
    margin-top: 30px;
    /* border: 5px solid rgb(22, 202, 103); */
    border: 5px solid #161b22;
   
}
#Getheading{
    /* border: 2px solid red; */
    width: 300px;
    margin: auto;
    margin-top: 70px;
    font-size: 18px;
    text-align: center;
}
#getnumber{
border :1px solid black;
display: flex;
width: 210px;
height: 40px;
margin: auto;
margin-top: 70px;
border-radius: 20px;
text-align: center;
border: 3px solid gray;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
border-radius: 20px;
}
#txtContect{
    margin-top: 9px;
}

#Icon{
    width: 30px;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 3px;
}

#getGmail{
    border :1px solid black;
    display: flex;
    width: 320px;
    height: 40px;
    margin: auto;
    margin-top: 70px;
    border-radius: 20px;
    text-align: center;
    border: 3px solid gray;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
border-radius: 20px;
    }

    #getLocation{
        border :1px solid black;
        display: flex;
        width: 270px;
        height: 40px;
        margin: auto;
        margin-top: 70px;
        border-radius: 30px;
        text-align: center;
        border: 3px solid gray;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
border-radius: 20px;
        }