#Skills{

height: 700px;
margin-top: 30px;
border: 5px solid #161b22;

}

#headingSkills{
    /* border: 2px solid rgb(187, 32, 135); */
    width: 300px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
}
#headingFrontEnd{
    /* border: 1px solid red; */
    width: 200px;
    margin: auto;
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
}

#containerSkill{
 /* border: 1px solid black; */
 margin-top: 20px;
 display: flex;
 width: 600px;
 margin:auto;
 margin-top: 50px;
}
#ImgDiv{
border: 1px solid rgb(139, 136, 136);
width: 120px;
margin: auto;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
border-radius: 20px;
}
#SkillImg{
width: 120px;
height: 120px;
}